<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="serilog:minimum-level" value="Debug"/>
    <add key="serilog:using:ColoredConsole" value="Debug"/>
    <add key="serilog:write=-to:ColoredConsole" value="Debug"/>
    <add key="serilog:enrich:with-property:Application" value="SSISControl.DbDeploy"/>
  </appSettings>
  <connectionStrings>
    <add name="SSISControl" connectionString="Data source=localhost; Initial Catalog=SSISControl; Integrated Security=True; App=SSISControl.DBDeploy" providerName="System.Data.SqlClient"/>  
  </connectionStrings>
</configuration>